/* Login Country */

.homeicon {
  margin-top: 20vw !important;
  justify-content: center;
}

.homeicon img{
  width: 45vw;
}

.homelogincomp{
  margin-top: 35vw !important;
}

.logincomp {
  width: 100%;
}

.HomeLogin {
  margin: 0px !important;
}

.HomeLogin span {
  color: #363537;
  font-size: clamp(5vw,8vw,10vw);
  font-weight: 700;
}

.HomeLogin p {
  font-size: clamp(2vw,4vw,5vw);
  color: #79787A;
  margin: 0px;
}

.mobileinput {
  margin: 10vw 0 0 0 !important;
}

.react-international-phone-input-container{
  width: 100% !important;
}

.react-international-phone-input {
  width: 100% !important;
}

.validation{
  padding-left: 10% !important;
}

.buttonslogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7vw 0 7vw;
  margin-top: 10vw !important;
}

.button2 {
  border: 0px;
  border-radius: 5px;
  font-weight: 500 !important;
  padding: 12px;
  font-size: calc(5vw,8vw,10vw);
  margin-top: 2vh !important;
  color: #173d07 !important;
  background-color: #e8f7e1;
}

.button2 img{
  padding-bottom: 3px !important;
}

.term {
  margin-top: 6vh !important;
}

.span1 {
  font-size: 14px;
  text-align: center;
  color: #79787a;
}

.span2 {
  font-size: 14px;
  text-align: center;
  color: #2b9348;
}

