/* Login Country */
.homeicon {
  margin-top: 10vh !important;
  justify-content: center;
}

.homeicon img{
  width: 50%;
}

.logincomp {
  margin-top: 20vh !important;
  padding: 0px !important;
}

.HomeLogin {
  padding-left: 40px !important ;
}

.HomeLogin span {
  color: #363537;
  font-size: 35px;
  font-weight: 700;
}

.HomeLogin p {
  color: #79787A;
  font-size: 17px;
}

.mobileinput {
  margin-top: 4vh !important;
}

.react-international-phone-input-container{
  padding: 0px 8% 0 8% !important;
  width: 100% !important;
}
.react-international-phone-input {
  width: 100% !important;
}

.validation{
  padding-left: 10% !important;
}

.buttonslogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8% 0 8%;
}
.button1 {
  color: white;
  width: 80%;
  background-color: #2b9348;
  border: 0px;
  border-radius: 5px;
  font-weight: 500 !important;
  padding: 12px;
  font-size: 18px;
  margin-top: 2vh !important;
}

.button2 {
  color: #173d07 !important;
  background-color: #e8f7e1;
  margin-top: 20px !important;
  font-size: 16px;
}

.button2 img{
  padding-bottom: 3px !important;
}

.term {
  margin-top: 6vh !important;
}
.span1 {
  font-size: 16px;
  text-align: center;
  color: #79787a;
}

.span2 {
  font-size: 16px;
  text-align: center;
  color: #2b9348;
}

