.EventPagemain {
  width: 100%;
  background-color: #f9f9f9;
}

.closenavmain {
  width: 100% ;
  margin: 0px !important;
}
.closeeventnav {
  width: 100% ;
  display: flex;
  flex-direction: row;
}

.closeicondiv {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeicondiv button{
  background-color: transparent;
  border: 0px;
}
.closeicondiv svg {
  font-size: 7vw;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.closenavtext {
  width: 80%;
  margin-top: 2vh;
}

.closenavtext span {
  font-size: 5vw;
  font-weight: 700;
}

.closenavtext p {
  font-size: 3vw;
  font-weight: 500;
  color: #79787A;
}

/* Camera */

.Cameramain {
  margin: 0px !important;
}

.cameratext p {
  font-size: 4vw;
  font-weight: 400;
  margin: 0 0 2vw 0;
}

.cameraimg {
  width: 100% !important;
  padding: 0px !important;
}

.cameraimgrow{
  margin: 0px !important;
}

.cameraimagecol{
  display: flex;
  flex-wrap: wrap;
  padding: 0px !important;
}

/* camera img comp */
.image-container {
  width: 33.33% !important;
  padding: 1vw !important;
  position: relative;
  display: inline-block;
  margin: 0px !important;
}

.image-container img {
  width: 100% !important;
  height: 25vw !important;
  border: 0px;
  border-radius: 10px;
}

.buttoncloseee {
  width: 6vw !important;
  height: 6vw !important;
  position: absolute;
  top: 23%;
  left: 23%;
  transform: translate(-50%, -50%);
  background-color: #ffc9b9;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 10px;
  padding: 0px !important;
  color: #363537;
}

.buttoncloseee svg {
  font-size: 20px;
  margin-bottom: 1vh !important;
}

/* Event Description */
.Eventdescriptionmain {
  margin-top: 2vh !important;
  display: flex;
  justify-content: center;
}

.EventDescription {
  width: 89% !important;
  display: flex;
  flex-direction: column;
  padding: 0px !important;
}

.EventDescription span {
  font-size: 17px;
}

.EventDescription textarea {
  height: 11vh;
  border: 1px solid #9a9a9b;
  border-radius: 10px;
  margin-top: 2vh;
}

/* Image add button */
.addphoto {
  width: 30.33%;
  height: 12vh;

  padding: 15px 10px 10px 15px !important;
}

.cameraaicondiv{
    border: 3px dashed #9a9a9b;
    border-radius: 20px;
    padding: 20px;
    background-color: #efeff0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cameraaicondiv svg {
  font-size: 35px;
}

/* Audiorecordmain */
.Audiorecordmain {
  display: flex;
  justify-content: center;
  padding: 0px !important;
  margin-top: 2vh !important;
}

.audio-recorder {
  width: 100% !important;
  border: 0px;
  background-color: transparent !important;
  box-shadow: none !important;
}

.audio-recorder img {
  background-color: #2b9348;
  color: #ffffff !important;
  border: 0px;
  filter: invert(100%) brightness(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.audio-recorder-options {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border:0px
}
/* Event Button Main */
.EventButtonmain {
  display: flex;
  justify-content: center;
  margin-top: 15vh !important;
}

.EventButtonmain button {
  width: 90% !important;
  position: fixed;
  top: 85%;
}
