.otpmainindex{
    background-color: #F9F9F9;
}
.arrowicon {
  color: #363537;
  width: 100px !important;
  height: 30px !important;
  margin: 3vh 0 0 0 !important;
}

.HeroIcon {
  margin-top: 5vh !important;
  justify-content: center;
}

.HeroIcon img {
  width: 50%;
}

.otpcomp {
  margin-top: 15vh !important;
  padding: 0px !important;
}

.otpcomphead {
  padding: 0 20px 0 20px;
}

.otpcomphead span {
  color: #363537;
  font-size: 35px;
  font-weight: 700;
}

.otpcomphead p {
  color: #79787a;
  font-size: 17px;
}

.otpcompbutton {
  justify-content: center;
}

.otpcompbutton button {
  color: white;
  width: 80%;
  background-color: #2b9348;
  border: 0px;
  border-radius: 5px;
  font-weight: 500 !important;
  padding: 12px;
  font-size: 18px;
  margin-top: 4vh !important;
}

.optinput {
  width: 100% !important;
  padding: 0 30px 0 40px !important;
  margin-top: 3vh !important;
}

.css-tccdxk {
  gap: 10px !important;
}

.MuiOtpInput-Box {
  margin: 0px !important;
  padding: 0 0 0 15px !important;
}

.optinput input {
  padding: 15px !important;
}
