.otpmainindex {
  background-color: #f9f9f9;
}

.otpmainindexcolbackrow {
  margin-top: 3vw 0 0 0 !important;
}
.otpmainindexRowLink {
  width: 20vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otpmainindexRowLink svg {
  width: 20vw !important;
  margin: 0px !important;
}

.arrowicon {
  color: #363537;
  width: 10vw !important;
  height: 10vw !important;
  margin: 3vh 0 0 0 !important;
}

.HeroIcon {
  margin: 15vw 0 0 0 !important;
  justify-content: center;
}

.HeroIcon img {
  width: 45vw;
}

.otpcomp {
  margin-top: 30vw !important;
}

.otpcomphead {
  margin: 0px !important;
}

.otpcomphead span {
  color: #363537;
  font-size: 8vw;
  font-weight: 700;
}

.otpcomphead p {
  color: #79787a;
  font-size: 2vh;
}

.otpcompbutton {
  justify-content: center;
}

.optinput {
  width: 100% !important;
  padding: 0 2vw 0 2vw !important;
  margin: 10vw 0 0 0!important;
}

.css-tccdxk {
  gap: 1.5vw !important;
}

.MuiOtpInput-Box {
  margin: 0px !important;
}

.optinput input {
  padding: 3vw !important;
}

.otpcompbutton{
  margin: 40vw 0 0 0 !important;
}

