.closenav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeicon{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeicon svg{
    font-size: 7vw;
    color: #363537;
}

.navcont{
    width: 84%;
    font-size: 5vw;
    font-weight: 600;
}

/* Searchbar main */

.searchbarmain{
    margin: 5vw 0 0 0;
}

/* Country List  */

.countrylist{
    margin: 5vw 0 0 0;
}
.countrylist li{
    background-color: transparent !important;
}

.allcountry{
    height: 110vw;
    overflow: scroll;
}

.allcountry::-webkit-scrollbar{
    display: none;
}