/* Event Button */
.buttonEvent {
  width: 100%;
  height: 15vw;
  color: white;
  background-color: #2b9348;
  border: 0px;
  border-radius: 5px;
  font-size: calc(7vw,10vw,12vw);
  font-weight: 500;
}

/* miui nav */

.MuiBottomNavigation-root{
  width: 100% ;
  height: 22vw !important;
  background-color: #2B9348 !important;
  border-top-left-radius:20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
}

.MuiButtonBase-root svg {
  color: white;
  font-size: 7vw !important;
  font-weight: 100;
  margin-bottom: 1vw;
}

.MuiButtonBase-root  span{
  color: white;
  font-size: 3vw !important
}