  .Eventcloseeventnav{
    display: flex;
  }

  .Eventcloseicondiv {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Eventcloseicondiv button {
    background-color: transparent;
    border: 0px;
  }
  
  .Eventcloseicondiv svg {
    font-size: 6vw;
    cursor: pointer;
  }
  
  .Eventclosenavtext {
    width: 80%;
    margin-top: 2vh;
  }
  
  .Eventclosenavtext span {
    font-size: 5vw;
    font-weight: 700;
  }
  
  .Eventclosenavtext p {
    font-size: 3vw;
    font-weight: 500;
    color: #79787A;
  }
  